.main {
  padding: 20px;
}

.title {
 text-align: center;
 font-size: 50px;
}

.links {
  font-size: 30px;
  font-weight: 400;
  margin-top: 30px;
}

.locations {
  position: absolute;
  right: 0;
  padding-inline: 20px;
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.search {
  padding: 10px;
  width: 100%;
  max-width: 300px;
  font-size: 16px;
  border-color: green;
}

.searchButton {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  list-style: none;
  
}

.card {
  display: flex;
  gap: 20px;
  background-color: dimgray;
  border-radius: 5px;
}

.cardImg {
  border-radius: 5px;
}

.cardText {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 12px;
  background-color: #ddd;
  border: none;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #bbb;
  cursor: default;
}


